body {
    font-family: 'Montserrat';
    background-image: url('image/dark-riddle.jpeg');
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    color: snow;
    padding-bottom: 350px;
    margin: 0px;
}

/* ----- hearder ----------- */ 
h1 { 
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
}
.neon { 
    color:snow;
    font-weight:bolder;
    animation : neon-blink  7s ease-in-out infinite; 
}
@keyframes neon-blink { 0%, 44.5%, 45.5%, 49%, 51%, 100% { 
    text-shadow: 0 0 7px snow, 0 0 10px snow, 0 0 20px red,0 0 50px black;
    } 45%, 50% { 
        text-shadow: unset; }
    } /* coupures */ 

header h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: snow;
    text-align: center;
    margin: 60px;
    font-style: italic;
    font-size: 27px;
}
/** form **/

.form { 
    display: block;
    text-align: center;
    color: snow ;
    font-size: 27px;
    margin-bottom: 15px;;

}

label {
    font-size: 23px;
}
input.guessSubmit {
    font-size: medium;
}

input:focus {
    background: #eaeaea;
}

.main {
    display: block;
}



/* js */
.resultParas { 
    display: flex;
    text-align: center;
    color: snow ;
    font-size: 17px;
    Margin : 14px 540px ;
    flex-direction: column;
    border: 10px;
}

/********medias scaries *******/

@media (max-width: 1024px) {
    .resultParas  {
        display: block;
        padding: 5px;
        margin : 20px;
    }
}